<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SelfMove"
        tools:targetApi="31">
        <activity android:name=".MainActivity" android:exported="true" android:label="@string/app_name" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignInActivity" />
        <activity android:name=".LogoActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WelcomeActivity" />
        <activity android:name=".RecoverPasswordActivity" />
        <activity android:name=".VerificationActivity" />
        <activity android:name=".PasswordVerificationActivity" />
        <activity android:name=".NewPasswordActivity" />
        <activity android:name="utl.levn304.proyectoIntegrador.SelfMove.SinNotificacionesActivity" />
        <activity android:name="utl.levn304.proyectoIntegrador.SelfMove.ReporteFallaActivity" />
        <!-- Agregadas automáticamente -->
        <activity android:name="utl.levn304.proyectoIntegrador.SelfMove.ChangePwActivity" />
        <activity android:name="utl.levn304.proyectoIntegrador.SelfMove.UbicacionesFavoritasActivity" />
        <activity android:name="utl.levn304.proyectoIntegrador.SelfMove.CallCenterActivity" />
        <activity android:name="utl.levn304.proyectoIntegrador.SelfMove.AccountActivity" />
        <activity android:name="utl.levn304.proyectoIntegrador.SelfMove.HistoryActivity" />
        <activity android:name="utl.levn304.proyectoIntegrador.SelfMove.RoutesActivity" />
        <activity android:name="utl.levn304.proyectoIntegrador.SelfMove.SeguridadActivity" />
        <activity android:name="utl.levn304.proyectoIntegrador.SelfMove.ConditionsActivity" />
        <activity android:name="utl.levn304.proyectoIntegrador.SelfMove.SearchMapActivity" />
        <activity android:name="utl.levn304.proyectoIntegrador.SelfMove.ScheduleThreeActivity" />
        <activity android:name="utl.levn304.proyectoIntegrador.SelfMove.ScheduleTwoActivity" />
        <activity android:name="utl.levn304.proyectoIntegrador.SelfMove.ScheduleActivity" />
        <activity android:name="utl.levn304.proyectoIntegrador.SelfMove.ChatAsesorActivity" />
        <activity android:name="utl.levn304.proyectoIntegrador.SelfMove.NotificationsActivity" />
        <activity android:name="utl.levn304.proyectoIntegrador.SelfMove.PagoBusActivity" />
        <activity android:name="utl.levn304.proyectoIntegrador.SelfMove.PrivacidadAyudaActivity" />
        <activity android:name="utl.levn304.proyectoIntegrador.SelfMove.AvisoSeguridadActivity" />
        <activity android:name="utl.levn304.proyectoIntegrador.SelfMove.AyudaActivity" />
        <!-- Fin de actividades agregadas -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_API_KEY" />
    </application>

</manifest>